# Backend environment variables
API_PORT=8000
BUILD_TARGET=development
SECRET_KEY=mysecretkey

# Database configuration
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydb
POSTGRES_HOST=localhost