# Backend & Frontend environment variables
API_PORT=8000
FRONTEND_PORT=5173
BUILD_TARGET=development
SECRET_KEY=mysecretkey


# Database configuration
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydb
POSTGRES_HOST=localhost

# PGAdmin configuration
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin

# MinIO configuration
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123

MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_BUCKET=uploads
MINIO_SECURE=false

# Qdrant configuration
QDRANT__SERVICE__API_KEY=secret-key

# Redis configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# Ollama configuration
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=llama3.2

